.container {
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: grid;
    justify-items: center;
    align-content: center;
  }
  
  #start-button {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: pink;
    font-size: 45px;
    padding: 50px;
    border-radius: 20px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-top: 20px;
    left: 0px;
    float: left;
    margin-left: 40%;
  }

  #over-button { 
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: pink;
    font-size: 45px;
    padding: 50px;
    border-radius: 20px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-top: 20px;
    left: 0px;
    float: left;
    margin-left: 40%;
  }
  
  #start-button:hover {
    letter-spacing: 3px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
  }
    
  #over-button:hover {
    letter-spacing: 3px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
  }
  
  .irongame {
    color: pink;
    font-size: 200px;
    font-family: fantasy;
    

  }
  
  .runandrink {
    color: pink;
    font-size: 60px;
    margin-top: 15px;
    float: left;
    margin-left: 30%;
  }

  .gameover {
    color: pink;
    font-size: 200px;
    float: left;
    margin-left: 15%;
    font-family: fantasy;

  }
  #score {
    color: pink;
    font-size: 50px;
    margin-top: 15px;
    float: left;
    margin-left: 40%;
    
  }

  .p {
    top: 10px;
    position: relative;
    left: 240px;
  }

  .instructions {
    top: 50px;
    position: relative;
    left: 120px;
  }

  .pressS {
    top: 100px;
    position: relative;
    left: -110px;
  }

  .pressP {
    top: 150px;
    position: absolute;
    left: 140px;
  }

  
  #myCanvas {
    position: absolute;
    left: 0;
    top: 0;
  }

  #pause {
    background-color: pink;
    width: 600px;
    color: white;
    height: 200px;
    font-size: 30px;
    margin-top: 15px;
    border-radius: 20px;
    position: relative;
  }

  .hidden{
    display: none;
  }


